/* global styles */
:root {
  --bg-color: #ffffff; /* White background */
  --text-color: #000000; /* Black text */
  --primary-color: #1d4ed8; /* Primary color (e.g., blue) */
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
}
